header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 0 40px;
  gap: 48px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #6C5CE7 0%, #6C5CE7BF 75%, #A29BFE 100%);
  box-sizing: border-box;
}

.logo{
    width: 70px;
    height: 70px;
}

.header_logo{
    width: 70px;
    height: 70px;
    width: 100%;
    max-width: 70px;
}

.header_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.header_input{
    position: relative;
    width: 100%;
    max-width: 500px;  
    flex-shrink: 0;
}

.header_input input {
    width: 100%;
    padding: 12px 0 12px 42px;
    border-radius: 8px;
    border: 1.5px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
    line-height: 1.2;
    vertical-align: middle; 
}

.header_input input::placeholder {
    color: #6C5CE7BF;
    font-size: 16px;
    line-height: 1.2;
    vertical-align: middle;

}

.header_icon{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left:10px;
    transform:translateY(-50%)
}

.header_input input:focus {
    border-color: #6C5CE7;
    box-shadow: 0 0 8px rgba(108, 92, 231, 0.5);
    background-color: #fefefe;
}

.header_nav{
    display: flex;
    gap:48px;
}

.nav-link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    color:#fff;
}

.nav-link img{
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 10px;
}
.nav-link span{
    margin: 10px 0;
}

.header_group{
    display: flex;
    flex-direction: column;
}

.header_group img{
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto 5px;
}